
.butang {
    border-color: #2ba61e;
    padding: 1rem;
    height: 1rem;
    position: relative;
    /* border-radius: 100%; */

    border-width: 2px;
    border-style: solid;
}
.clickable {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;     
    z-index: 1;
}
a.button {
    text-decoration: none;
    color: #2ba61e;
}
/* COLOR */
.green {
    color: #2ba61e;
}
.white{
    color: white4;
}
/* TEXT SIZE */
.date{
    font-size: small;
}
.title{
    font-size: large;
    font-weight: bold;
}
.subtitle{
    font-size: medium;
}
/* IMG */
.me{
    border-radius: 50%;
    border-width: 3px;
    border-color: #2ba61e;
    border-style: solid;
    width: 20%;
}
.center{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    vertical-align: middle;
}
