{% assign basics = site.data.resume.basics %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 class="green"> {{ basics.name }} </h3>

<span class="title">{{ basics.age }}</span>
<span class="green title">|</span>
<span class="title">{{ basics.status }}</span>
<span class="green title">|</span>
<span class="title">{{ basics.nationality }}</span>
<br>
<i class="green fa fa-home"> - </i>
<span class="title">  {{ basics.city }}</span>
<br>
<i class="green fa fa-phone"> - </i>
<span class="title">  {{ basics.phone }}</span>
<br>
<i class="green fa fa-envelope"> - </i>
<span class="title">  {{ basics.email }}</span>
<br>
<i class="green fa fa-linkedin"> - </i>
<span class="title">  {{ basics.linkedin }}</span>