<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    
    {%- include head.html -%}
    <!-- new home css -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home.css">
    <body>
        <main id="nooru" role="main" style="background-image: url() ">
            <div class="nooruContainer">
                <div class="nooruWrapper">
                    <img src="/assets/img/nooru_logo.png" alt="mylogo">
                </div>
                <div class="nooruContent">
                    <div class="customScrollbar"></div>
                    <div class="scrollableContent">
                                
                        <div class="nooruBlockContainer">
                            <div class="nooruBlockHeader">
                                <i class="material-icons">video_library</i>
                                <h1>Here's my latest YouTube upload</h1>
                            </div>
                            <a target="blank" href="/yt">Subscribe</a>
                        </div>

                        <div class="nooruBlockContainer">
                            <div class="nooruBlockHeader">
                                <i class="material-icons">chat</i>
                                <h1>My wife's blog about living in Malaysia and our fur baby!</h1>
                            </div>
                            <a target="blank" href="/gomasuke">gomasuke.com</a>
                        </div>

                        <div class="nooruBlockContainer">
                            <div class="nooruBlockHeader">
                                <i class="material-icons">chat</i>
                                <h1>Read my Blog!</h1>
                            </div>
                            <a target="blank" href="https://blog.nooru.me">Blog.nooru.me</a>
                        </div>

                        <div class="nooruBlockContainer">
                            <div class="nooruBlockHeader">
                                <i class="material-icons">chat</i>
                                <h1>Sharing Job Offer for Nihongo speaker (MY)</h1>
                            </div>
                            <a target="blank" href="https://bit.ly/kerjaNihongo">Twitter</a>
                        </div>

                        <div class="nooruBlockContainer">
                            <div class="nooruBlockHeader">
                                <i class="material-icons">local_grocery_store</i>
                                <h1>Here's what I'm selling</h1>
                            </div>
                            <div class="nooruBlockHeader">
                                <h2>Online Wedding invitation card</h2>
                            </div>
                            <a target="blank" href="/jejemput">jejemput.com</a>
                            <div class="nooruBlockHeader">
                                <h2>My preloved items</h2>
                            </div>
                            <a target="blank" href="/fb-mp">Facebook Marketplace</a>
                        </div>

                        <div class="nooruBlockContainer">
                            <div class="nooruBlockHeader">
                            <i class="material-icons">group_add</i>
                            <h1>Follow me on social media</h1>
                            </div>
                            <a target="blank" href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}">Instagram</a>
                            <a target="blank" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}">Facebook</a>
                            <a target="blank" href="https://www.youtube.com/user/{{ site.youtube_username| cgi_escape | escape }}">YouTube</a>
                            <a target="blank" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">Twitter</a>
                        </div>

                        <div class="nooruBlockContainer">
                            <div class="nooruBlockHeader">
                                <i class="material-icons">account_circle</i>
                                <h1>About ノール.me</h1>
                            </div>
                            <a href="/about">Read more HERE!</a>
                        </div>

                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" charset="utf-8"></script>
        <script src="/assets/js/home-scroll.js" charset="utf-8" type="text/javascript"></script>

    </body>

</html>
