---
layout: default
---
{%- if page.redirect -%}
<link rel="stylesheet" href="/assets/css/redirect.css">
{%- endif -%}

<div class="nooruBlockContainer">

  <header class="nooruBlockHeader">
    {%- if page.icon -%}
    <i class="material-icons"> {{ page.icon }}</i> 
    {%- endif -%}

    <h1 class="post-title">{{ page.title | escape }}</h1>

    {%- if page.redirect -%}
    <h1>If you are not redirected click button below.</h1>
    {%- endif -%}
  </header>

  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; URL= {{ page.redirect }}"/>
    <a href=" {{ page.redirect }} ">{{ page.buttonName }}</a>
  {%- endif -%}

  {{ content }}
  <br><br><hr>
  <a href="/">Back to Home</a>
</div>