<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="stylesheet" href="{{ "/assets/css/redirect.css" | relative_url }}">
{%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">

      <div class="center">
        <a href=" {{ page.redirect }} ">Click here if you are not redirected.</a><br>
        <img class="loading" src="/assets/img/green_portal.gif"></img> 
        <meta http-equiv="refresh" content="3; URL= {{ page.redirect }}"/>
      </div>

  </main>

  </body>
</html>