<!DOCTYPE html>

<link rel="stylesheet" href="/assets/css/resume.css"> 
<hr>
<div class="tigabaris">
    <div class="blok">{% include /resume/intro.html %}</div>
    <div class="blok">{% include /resume/img.html %}</div>
    <div class="blok">{% include /resume/basics.html %}</div>
</div>
<hr>
<div class="duabaris">
    <div class="enampuluh">
        <div class="blok">{% include /resume/experience.html %}</div>

    </div>
    <div class="empatpuluh">

        <div class="blok">{% include /resume/education.html %}</div>
        <div class="blok">{% include /resume/skills.html %}</div>
        <div class="blok">{% include /resume/language.html %}</div>

    </div>
</div>
